# Ignore local Streamlit secrets and configurations
.streamlit/

# Ignore Python compiled cache files (Safe: won't ignore app.py)
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local virtual environments
venv/
.venv/